* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-a: #e4771e;
  --cor-b: #000;
  --cor-c: #040212;
  --cor-d: #2e2c3a;
  --cor-e: #42414e;
  --cor-f: #575662;
  --cor-g: #23a863;
  --cor-h: #038f4c;
  --cor-i: #43c27a;
  --cor-j: #e81111;
  --cor-k: #f2f2f2;
  --cor-l: #d2d2d2;
  --cor-m: #ffffff;
  --cor-n: #dedede;
}

@media (max-width: 320px) {
}

@media (min-width: 321px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) {
}
